@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";

}
<br />
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        @*<div class="card">
            <div class="card-header bg-success text-white">
                <h4>Login</h4>
                <h6>Use a local account to log in.</h6>
            </div>
            <div class="card-body">
                <form id="account" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group row">
                        <div class="col-2">
                            <label asp-for="Input.Email" class="col-form-label"></label>
                        </div>
                        <div class="col">
                            <input asp-for="Input.Email" class="form-control" />
                        </div>
                        <span class="text-danger" asp-validation-for="Input.Email"></span>
                    </div>
                    <div class="form-group row">
                        <div class="col-2">
                            <label asp-for="Input.Password" class="col-form-label"></label>
                        </div>
                        <div class="col">
                            <input asp-for="Input.Password" class="form-control" />
                        </div>
                        <span class="text-danger" asp-validation-for="Input.Password"></span>
                    </div>

                    <div class="form-group">
                        <div class="checkbox">
                            <label asp-for="Input.RememberMe">
                                <input asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block btn-rounded">Log in</button>
                    </div>
                    <div class="form-group">
                        <p>
                            <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                        </p>
                        <p>
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                        </p>
                    </div>
                </form>
            </div>
            <div class="card-footer border-0">
                <section>
                    <h4 class="text-center">Or</h4>
                    <h4 class="text-center">Login with</h4>
                    <hr />
                    @{
                        if ((Model.ExternalLogins?.Count ?? 0) == 0)
                        {
                            <div>
                                <p>
                                    There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                                    for details on setting up this ASP.NET application to support logging in via external services.
                                </p>
                            </div>
                        }
                        else
                        {
                            <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                <div>
                                    <p>
                                        @foreach (var provider in Model.ExternalLogins)
                                        {

                                            <button type="submit" class="btn btn-primary btn-rounded" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">

                                                @provider.DisplayName
                                            </button>
                                        }
                                    </p>
                                </div>
                            </form>
                        }
                    }
                </section>
            </div>
        </div>*@
        <div class="container-l">
            @*<div class="nav-logo"></div>*@
            <img class="d-block mx-auto border-light" src="/images/designs/spiceLogo.png" style="height:150px;width:150px;" alt="" />
            <div class="title text-center">Spice Restaurant</div>
            <div class="subtitle text-center"><a href="https://youtube.com/thecodefather" target="_blank">Fresh & Hygenic Food</a></div>
            <form id="account" class="row p-4" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="container">
                    <div class="form-group">
                        @*<label asp-for="Input.Email"></label>*@
                        <input class="input accept-policy form-control w-100" asp-for="Input.Email" placeholder="Your email..." /><br />
                        <span class="text-danger" asp-validation-for="Input.Email"></span>
                    </div>
                    <div class="form-group">
                        @*<label asp-for="Input.Password"></label>*@
                        <input class="input form-control mx-auto" asp-for="Input.Password" placeholder="Your password..." /><br />
                        <span class="text-danger" asp-validation-for="Input.Password"></span>
                    </div>
                </div>
                <button class="btn btn-danger btn-block btn-rounded" type="submit">Login</button>
            </form>
            <p class="links text-center"><a href="#">Forgot password?</a> | <a href="#">Register as new user</a></p>
        </div>
        <section>
            <h4 class="text-center">Or</h4>
            <h4 class="text-center">Login with</h4>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {

                                    <button type="submit" class="btn btn-primary btn-rounded" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">

                                        @provider.DisplayName
                                    </button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
    <div class="col-md-3"></div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
